= simple_form_for(@item, html: { class: 'form-horizontal' }) do |form|
  = form.input :title, label: "Item Title"
  = form.input :description, label: "Item Description"
  = form.input :price, label: "Item Price"
  %br
  = form.button :submit
