.container
  .row.back
    / .col-md-7.col-md-offset-1.colorRED
    .col-md-8.colorRED
      #item-show
        .item-title
          %h2
            = @item.title
        .subTitle
          = @item.sub_title
          %br
      .image_box
        .col-md-2
          = image_tag @item.image, :size => "80x80"
          = image_tag @item.image, :size => "80x80"
          = image_tag @item.image, :size => "80x80"
          = image_tag @item.image, :size => "80x80"

        .col-md-10
          .large-image
            = image_tag @item.image


    .col-md-3.col-md-offset-1
      .item-information
        .item-price
          = number_to_currency(@item.price)
        %hr

        .buttons
          .btn.lg.ghost
            = link_to "Placeholder", root_path
          %hr

        .aboutMessage
          %p About this product

          %i.fa.fa-stop-circle-o
            %p About this product

        %hr

        .questionStyle
          %h4 Questions? Call us:
          %fa.fa-gratipay test
        .phoneStyle
          %h4 218-535-1760

  .col-md-6.col-md-offset-4
    .buttons
      .btn.md.ghost
        = link_to "Home", root_path
      .btn.md.ghost
        = link_to "Edit", edit_item_path(@item)
      .btn.md.ghost
        = link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}

:javascript

$(document).ready(function() {


  $("#single_image").fancybox();

  $("#inline").fancybox({
    'hideOnContentClick': true
  });

  $("a.group").fancybox({
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 600,
    'speedOut'    : 200,
    'overlayShow' : false
  });

});
