.container
  .row.back
    / .col-md-5.col-md-offset-3
    .col-md-5.col-md-offset-1
      #item_show
        .title
          = @item.title
        .subTitle
          = @item.sub_title
      .center-blocks
        .image
          = image_tag @item.image.url(:large)

    .col-md-5.col-md-offset-1
      #item_show
        %h3
          = @item.price
        %hr
          = @item.description

        .buttons
          .btn.lg.ghost
            = link_to "Placeholder", root_path

        .buttons
          .btn.md.ghost
            = link_to "Home", root_path
          .btn.md.ghost
            = link_to "Edit", edit_item_path(@item)
          .btn.md.ghost
            = link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}
