.container
  .row
    .col-md-2.col-md-offset-5
      .center-blocks
        #item_show
          .title= @item.title
          %h3= @item.description

          = image_tag @item.image.url(:medium)


        .buttons
          .btn.sm.ghost
            = link_to "Home", root_path
          .btn.sm.ghost
            = link_to "Edit", edit_item_path(@item)
          .btn.sm.ghost
            = link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}


