.wrapper_with_padding
  #item_show
    %h1= @item.title
    %h3= @item.description

    = image_tag @item.image.url(:medium)


    .buttons
      = link_to "Home", root_path
      = link_to "Edit", edit_item_path(@item)
      = link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}

