.container
  .row
    / .col-md-5.col-md-offset-3
    .col-md-5.col-md-offset-1
      .center-blocks
        .img
          = image_tag @item.image.url(:large)

    .col-md-5.col-md-offset-1
      #item_show
        .title
          = @item.title
        %h3
          = @item.description


        .buttons
          .btn.md.ghost
            = link_to "Home", root_path
          .btn.md.ghost
            = link_to "Edit", edit_item_path(@item)
          .btn.md.ghost
            = link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}


